<nav class="navbar navbar-light nav nav-pills nav-fill fixed-top">
   <a class="navbar-brand" href="{{path('home')}}">
    <img src="/uploads/UEFA_Euro_2020_Logo_White.svg.png" width="35" height="40" alt="">
   </a>
   <a class="nav-item nav-link" href="{{path('home')}}">Acceuil</a>
   <a class="nav-item nav-link" href="{{path('teams_index')}}">Equipes</a>
   <a class="nav-item nav-link" href="{{path('stades_index')}}">Stades</a>
   <a class="nav-item nav-link" href="{{path('rankings_index')}}">Classements & Résultats</a>
</nav>