<nav class="navbar navbar-light bg-light nav nav-pills nav-fill">
   <a class="navbar-brand" href="{{path('home')}}">
    <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
   </a>
   <a class="nav-item nav-link" href="{{path('admin_teams_index')}}">Les équipes</a>
   <a class="nav-item nav-link" href="{{path('admin_stades_index')}}">Les stades</a>
   <a class="nav-item nav-link" href="{{path('admin_groups_index')}}">Les groupes</a>
   <a class="nav-item nav-link" href="{{path('admin_matchs_index')}}">Les matchs</a>
   <a class="nav-item nav-link" href="{{path('admin_dates_index')}}">Les dates</a>
</nav>