{% extends "admin/base.html.twig" %}

{% block title %}Modification de l'équipe {{team.name}}{% endblock %}

{% block body %}
<div class="container cont-admin">
    <h3 class="mt-3 mb-3">Modification de l'équipe <strong>{{team.name}}</strong></h3>
    {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="mb-5 btn btn-warning">Modifier l'équipe</button>
    {{form_end(form)}}
</div>
{% endblock %}