{% extends 'admin/base.html.twig' %}

{% block title %}Phase finale{% endblock %}

{% block body %}
<div class="container cont-admin">
    <h1 class="mt-3 mb-3">Administration de la phase finale</h1>
    <hr>
    <h3 class="mt-2 mb-2">Les équipes qualifiées</h3>
    {% if teams and teams|length == 16 %}
        <div class="row mb-3">
            {% for team in teams %}
            <div class="team col-2 text-center mt-3 mb-3">
                <p class="text-center">
                    <img src="{{team.logo}}" alt="" class="logo-team-admin mb-2"><br>
                    {{team.name}}
                </p>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row pt-5 pb-5 align-items-center justify-content-center">
            <p class="text-center">Vous devez commencer la phase de groupe</p>
        </div>
    {% endif %}
</div>
<div class="container-fluid">
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    {% for stage in stages %}
    <h3 class="mt-2 mb-2">{{stage.name}}</h3>
    <p class="font-weight-light">* Vous devez terminer la phase précédente et avoir suffisament de dates disponibles</p>
    {% if stage.id == 1 %}
        {% if GroupMatchs|length == 36 and dates|length >= 8 %}
            <a href="{{path('admin_eight_drawing', {'id':stage.id})}}"><button type="button" class="btn btn-info mb-3">Ajouter</button></a>
        {% endif %}
    {% elseif stage.id == 2 %}
        {% if EighthMatchs|length == 8 and dates|length >= 4 %}
            <a href="{{path('admin_quarter_drawing', {'id':stage.id})}}"><button type="button" class="btn btn-info mb-3">Ajouter</button></a>
        {% endif %}
    {% elseif stage.id == 3 %}
        {% if QuarterMatchs|length == 4 and dates|length >= 2 %}
            <a href="{{path('admin_semi_drawing', {'id':stage.id})}}"><button type="button" class="btn btn-info mb-3">Ajouter</button></a>
        {% endif %}
    {% elseif stage.id == 4 %}
        {% if SemiMatchs|length == 2 and dates|length >= 1 %}
            <a href="{{path('admin_final_drawing', {'id':stage.id})}}"><button type="button" class="btn btn-info mb-3">Ajouter</button></a>
        {% endif %}
    {% endif %}
    <table class="table table-hover mb-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Match</th>
                <th scope="col">Date</th>
                <th scope="col">Stade</th>
                <th scope="col">Score final</th>
                <th scope="col">Prolongations</th>
                <th scope="col">Vainqueur</th>
                <th scope="col">Perdant</th>
                <th scope="col">Phase</th>
            </tr>
        </thead>
        <tbody>
            {% for match in stage.matchs | sort((a,b) => a.date.date <=> b.date.date) %}
            <tr>
                <td scope="row">{{match.id}}</td>
                <td>{{match.team1.name}} - {{match.team2.name}}</td>
                <td>{{match.date.date | date('d/m/Y')}} {{match.date.date | date('H:i')}}</td>
                <td>{{match.stade.name}}</td>
                {% if match.scoreT1 or match.scoreT2 %} <td>{{match.scoreT1}} - {{match.scoreT2}}</td> {% else %} <td>0 - 0</td> {% endif %}
                {% if match.draw == true %} <td>Oui</td> {%  elseif match.winner %} <td>Non</td> {% else %} <td>A définir</td> {% endif %}
                {% if match.winner %} <td>{{match.winner.name}}</td> {% elseif not match.winner and match.isPlayed %} <td>/</td> {% else %} <td>A définir</td> {% endif %}
                {% if match.looser %} <td>{{match.looser.name}}</td> {% elseif not match.looser and match.isPlayed %} <td>/</td> {% else %} <td>A définir</td> {% endif %}
                {% if match.stage %} <td>{{match.stage.name}}</td> {%  elseif match.groupName %} <td>Groupe {{match.groupName.name}}</td> {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}
